@media (max-width: 1599px) {
    .container {
        width: 1150px;
        margin: 0 auto;
    }
    .promo {

        &__title {
            font-size: 165px;
        }
        &__wrapper {
            column-gap: 200px;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: repeat(3, 330px);
            width: 1070px;
            margin: 70px auto 0px auto;
        }
        &__img {
            width: 330px;
            img {
                width: 100%;
            }
        }
    }
    .timetable {
        &__item {
            grid-template-columns: 115px 790px;
        }
    }
    .pair {
        &__descr {
            margin-top: 75px;
        }
    }
    .food {
        .container {
            margin-left: 35px;
            width: 1150px;
        }
        &__wrapper {
            grid-template-columns: 270px 790px;
            column-gap: 90px;
        }
        &__list {
            grid-template-columns: 790px;
        }
        &__item {
            grid-template-columns: 335px 337px;
        }
        &__information {
            &-text {
                width: 350px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .promo {

        &__title {
            font-size: 128px;
        }
        &__wrapper {
            column-gap: 95px;
        }
        &__subtitle {
            width: 390px;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: repeat(3, 280px);
            width: 850px;
            margin: 70px auto 0px auto;
        }
        &__img {
            width: 280px;
            img {
                width: 100%;
            }
        }
        &__text {
            width: 270px;
        }
    }
    .timetable {
        &__item {
            grid-template-columns: 115px 725px;
            column-gap: 60px;
        }
        &__training {
            grid-template-columns: repeat(3, 220px);
        }
    }
    .pair {
        &__descr {
            margin-top: 40px;
        }
    }
    .food {
        .container {
            margin-left: 25px;
            width: 900px;
        }
        &__wrapper {
            grid-template-columns: 170px 640px;
            column-gap: 100px;
        }
        &__list {
            grid-template-columns: 640px;
        }
        &__item {
            grid-template-columns: 260px 320px;
            column-gap: 70px;
        }
        &__img {
            width: 260px;
            img {
                width: 100%
            };
        }
        &__information {
            &-text {
                width: 350px;
            }
        }
    }
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}