@media (max-width: 4200px) {
    .promo, .pair, .food, .trainings, .timetable, .footer {
        width: 1920px;
        margin: 0 auto;
    }
}

@media (max-width: 1920px) {
    .food {
        .container {
            margin: 0 auto;
        }
    }
}

@media (max-width: 1600px) {
    .promo, .pair, .food, .trainings, .timetable, .footer {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1599px) {
    .container {
        width: 1150px;
        margin: 0 auto;
    }
    .promo {

        &__title {
            font-size: 165px;
        }
        &__wrapper {
            column-gap: 200px;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: repeat(3, 330px);
            width: 1070px;
            margin: 70px auto 0px auto;
        }
        &__img {
            width: 330px;
            img {
                width: 100%;
            }
        }
    }
    .timetable {
        &__item {
            grid-template-columns: 115px 790px;
        }
    }
    .pair {
        &__descr {
            margin-top: 75px;
        }
    }
    .food {
        .container {
            margin-left: 35px;
            width: 1150px;
        }
        &__wrapper {
            grid-template-columns: 270px 790px;
            column-gap: 90px;
        }
        &__list {
            grid-template-columns: 790px;
        }
        &__item {
            grid-template-columns: 335px 337px;
        }
        &__information {
            &-text {
                width: 350px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .promo {

        &__title {
            font-size: 128px;
        }
        &__wrapper {
            column-gap: 95px;
        }
        &__subtitle {
            width: 390px;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: repeat(3, 280px);
            grid-template-rows: 450px;
            width: 850px;
            margin: 70px auto 0px auto;
        }
        &__img {
            width: 280px;
            height: 170px;
            img {
                width: 100%;
            }
        }
        &__text {
            width: 280px;
            padding: 0px 40px 0px 40px;

        }
    }
    .timetable {
        &__item {
            grid-template-columns: 115px 725px;
            column-gap: 60px;
        }
        &__training {
            grid-template-columns: repeat(3, 220px);
        }
    }
    .pair {
        &__descr {
            margin-top: 40px;
        }
    }
    .food {
        .container {
            margin: 0 auto;
            width: 900px;
        }
        &__slider {
            bottom: 55px;
        }
        &__heading {
            margin-top: 40px;
        }
        &__wrapper {
            grid-template-columns: 170px 700px;
            column-gap: 100px;
        }
        &__list {
            grid-template-columns: 700px;
        }
        &__item {
            grid-template-columns: 260px 320px;
            column-gap: 70px;
        }
        &__img {
            width: 260px;
            img {
                width: 100%
            };
        }
        &__information {
            &-text {
                width: 350px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        width: 700px;
    }
    .promo {
        &__slider {
            &-controls {
                img {
                    width: 45px;
                }
            }
            &-active {
                font-size: 30px;
            }
            &-list {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 100px;
        }
        &__wrapper {
            column-gap: 10px;
            grid-template-columns: 215px 98px;
        }
        &__subtitle {
            width: 300px;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: 450px;
            grid-template-rows: repeat(3, 505px);
            row-gap: 30px;
            width: 450px;
            margin: 70px auto 0px auto;
        }
        &__item {
            margin: 0 auto;
        }
        &__img {
            width: 450px;
            height: 270px;
            img {
                width: 100%;
            }
        }
        &__text {
            width: 450px;
            padding: 0px 70px 70px 70px;
        }
    }
    .timetable {
        &__item {
            grid-template-columns: 115px 525px;
            grid-template-rows: 220px;
            column-gap: 60px;
        }
        &__training {
            grid-template-columns: repeat(2, 220px);
            grid-template-rows: repeat(2, 110px);
            width: 500px;
        }
    }
    .pair {
        &__backgrounds {
            grid-template-columns: 50% 50%;
        }
        &__descr {
            margin-top: 55px;
        }
    }
    .food {
        .container {
            margin: 0 auto;
            width: 700px;
        }
        &__wrapper {
            grid-template-columns: 700px;
            column-gap: 100px;
        }
        &__heading {
            height: 200px;
        }
        &__list {
            grid-template-columns: 700px;
            margin-top: 50px;
        }
        &__item {
            grid-template-columns: 260px 320px;
            column-gap: 70px;
        }
        &__img {
            width: 260px;
            img {
                width: 100%
            };
        }
        &__information {
            &-text {
                width: 350px;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .promo {

        &__slider {
            &-controls {
                img {
                    width: 35px;
                }
            }
            &-active {
                font-size: 30px;
            }
            &-list {
                font-size: 14px;
            }
        }
        &__title {
            font-size: 78px;
        }
        &__wrapper {
            grid-template-columns: 150px;
        }
        &__subtitle {
            width: 215px;
        }
        &__descr {
            padding-top: 175px;
        }
        &__play {
            margin: 0 auto;
            display: block;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: 400px;
            grid-template-rows: 470px;
            row-gap: 30px;
            width: 400px;
            margin: 70px auto 0px auto;
        }
        &__item {
            margin: 0 auto;
        }
        &__img {
            width: 400px;
            height: 240px;
            img {
                width: 100%;
            }
        }
        &__text {
            width: 400px;
            padding: 10px;
        }
    }
    .timetable {
        &__item {
            grid-template-columns: 115px 380px;
            grid-template-rows: 220px;
            column-gap: 30px;
        }
        &__training {
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(2, 110px);
            width: 395px;
        }
        &__date {
            font-size: 40px;
        }
        &__text {
            font-size: 23px;
        }
    }
    .pair {
        min-height: 1100px;
        &__descr {
            margin-top: 60px;
            width: 350px;
        }
        &__backgrounds {
            grid-template-columns: 1fr;
            grid-template-rows: 600px 500px;
            row-gap: 50px;
            background-color: #fafafa;
        }
        &__title {
            width: 350px;
            margin: 0 auto;
        }
        &__text {
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 50px auto 0px auto;
        }
    }
    .food {
        padding: 150px 0px 75px 0px;
        .container {
            margin: 0 auto;
            width: 540px;
        }
        &__title {
            font-size: 38px;
        }
        &__wrapper {
            grid-template-columns: 540px;
            column-gap: 100px;
        }
        &__heading {
            height: 220px;
        }
        &__list {
            grid-template-columns: 540px;
            grid-template-rows: repeat(3, 600px);
            row-gap: 100px;
            margin: 60px auto 0px auto;
        }
        &__item {
            grid-template-columns: 400px;
            column-gap: 70px;
            grid-template-rows: 400px 245px;
            margin: 0 auto;
            height: 650px;
        }
        &__img {
            width: 400px;
            margin: 0 auto;
            img {
                width: 100%
            };
        }
        &__information {
            &-header {
                width: 400px;
                margin: 0 auto;
            }
            &-text {
                width: 400px;
                margin: 0 auto;
                padding-right: 10px;
            }
            &-btn {
                width: 400px;
                margin: 30px auto 0px auto;
            }
            &-wrapper {
                padding: 10px;
            }
        }
    }
    .footer {
        &__subwrapper {
            grid-template-columns: 540px;
            row-gap: 20px;
        }
        &__list {
            width: 540px;
        }
        &__copyright {
            width: 50px;
            margin: 0 auto;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 300px;
    }
    .promo {
        &__slider {
            &-active {
                color: #ffffff;
            }
            &-list {
                color: #ffffff;
            }
        }
        &__backgrounds {
            grid-template-columns: 0% 100%;
        }
        &__logo {
            color: #ffffff;
            height: 22px;
            font-size: 24px;
        }
        &__title {
            font-size: 64px;
            width: 300px;
            margin: 0 auto;
            text-align: center;
            &-home {
                text-align: center;
            }
            &-ss {
                padding-left: 0px;
            }
        }
        &__subtitle {
            color: #ffffff;
            width: 300px;
            text-align: center;
        }
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__descr {
            padding-top: 175px;
        }
        
        &__play {
            margin: 0 auto;
            display: block;
        }
    }
    .trainings {
        &__wrapper {
            grid-template-columns: 300px;
            grid-template-rows: 420px;
            row-gap: 30px;
            width: 300px;
            margin: 70px auto 0px auto;
        }
        &__item {
            margin: 0 auto;
        }
        &__img {
            width: 300px;
            height: 180px;
            img {
                width: 100%;
            }
        }
        &__text {
            width: 300px;
            padding: 10px;
        }
        &__title {
            font-size: 38px;
        }
    }
    .timetable {
        padding: 130px 0px 100px 0px;
        &__title {
            font-size: 38px;
        }
        &__item {
            grid-template-columns: 300px;
            grid-template-rows: 120px 300px;
            column-gap: 0px;
        }
        &__training {
            grid-column: 1 / 3;
            grid-template-columns: 200px;
            grid-template-rows: repeat(3, 110px);
            width: 300px;
        }
        &__date {
            font-size: 40px;
        }
        &__text {
            font-size: 23px;
        }
    }
    .pair {
        min-height: 1100px;
        &__descr {
            margin-top: 60px;
            width: 300px;
        }
        &__backgrounds {
            grid-template-columns: 1fr;
            grid-template-rows: 600px 500px;
            row-gap: 50px;
            background-color: #fafafa;
        }
        &__title {
            width: 300px;
            margin: 0 auto;
            font-size: 33px;
        }
        &__text {
            text-align: center;
        }
        &__btn {
            display: block;
            margin: 50px auto 0px auto;
        }
        &__new {
            font-size: 120px;
        }
    }
    .food {
        padding: 150px 0px 75px 0px;
        .container {
            margin: 0 auto;
            width: 300px;
        }
        &__title {
            font-size: 38px;
        }
        &__wrapper {
            grid-template-columns: 300px;
            column-gap: 100px;
        }
        &__heading {
            height: 270px;
        }
        &__list {
            grid-template-columns: 300px;
            grid-template-rows: repeat(3, 600px);
            margin: 60px auto 0px auto;
        }
        &__item {
            grid-template-columns: 300px;
            column-gap: 70px;
            grid-template-rows: 300px 245px;
            margin: 0 auto;
            height: 550px;
        }
        &__img {
            width: 300px;
            margin: 0 auto;
            img {
                width: 100%
            };
        }
        &__information {
            &-header {
                width: 300px;
                margin: 0 auto;
            }
            &-text {
                width: 300px;
                margin: 0 auto;
                padding-right: 10px;
            }
            &-btn {
                width: 300px;
                margin: 30px auto 0px auto;
            }
            &-wrapper {
                padding: 10px;
            }
        }
    }
    .footer {
        &__subwrapper {
            grid-template-columns: 300px;
            row-gap: 20px;
        }
        &__list {
            width: 300px;
            li {
                font-size: 10px;
            }
        }
        &__copyright {
            width: 50px;
            margin: 0 auto;
        }
    }
}