.title {
    font-weight: bold;
    color: #202020;
    text-transform: uppercase;
    margin-bottom: 0;
    &_fz36 {
        font-size: 36px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &_fz200 {
        font-size: 200px;
    }
}